{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": false,
	"bracketSameLine": true,
	"importOrder": ["^[next]", "<THIRD_PARTY_MODULES>", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
